/*--------------------
#FONTS
/*--------------------*/

@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoThinItalic;
    src: url(../fonts/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}


/*--------------------
#HEADER
/*--------------------*/

.navbar {
    height: 98px;
    padding-top: 30px;
    z-index: 1;
}

.navbar-brand > img{
    max-width: 184px;
    min-width: 100px;
    margin-left: 10vw;

}

.navbar-item{
    font-family: RobotoThin;
    font-size: 13px;
}

.navbar-nav{
    margin-top: 10px;
    margin-right: 10vw;
   
}

.navbar-nav > li> a{
    color: #4a4a4a;
}

.navbar-nav > li> a:hover{
    background: transparent;
    color: #64bfd3
}

  .navbar-toggle  .icon-bar {
      margin-top: 10px;
    background-color: #64bfd3;
}

.navbar-collapse{
    width: 100vw;
    background: #fff;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse li{
        margin-left: 10vw;
    }
}



/*--------------------
#FOOTER
/*--------------------*/

#footerContainer{
    height: 345px;
    overflow: hidden;
   
}

#footerBG{
    background: url(../images/Footer.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-size: 100% 100%;
    height: 402px;
    
}

#footerContact{
    margin-top: 90px;
}

.footer-title{
    color: #fff;
    font-family: RobotoThin;
    font-size: 16px;
    margin-bottom: 0px;
}

.footer-email{
    color: #fff;
    font-family: RobotoBold;
    font-size: 25px;
}

#socialDiv{
    margin-top: 60px;
}

 
/*--------------------
#LANDING
/*--------------------*/

.landing-title{
    font-family: RobotoBold;
    color: #616161;
    font-size: 25px;
    text-align: left;
    
}

.landing-text{
    font-family: RobotoThin;
    color: #4a4a4a;
    font-size: 13px;
}

.slider-title{
    font-family: RobotoThin;
    color: #fff;
    font-size: 33px;
}

.roboto-bold{
    font-family: RobotoBold;
}

.blue-title-text{
    color: #64bfd3;
}

.slider-text{
    font-family: RobotoThin;
    color: #fff;
    font-size: 12px;
}

.carousel-caption{
    top: 40px !important;
}

.carousel-inner > .item > img{
    min-height: 300px;
    min-width: 500px;
    width: 100vw;
}

.carousel-indicators li{
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
    background-color: #fff;
}

.carousel-indicators{
    height: 350px;
    top: 40%;
    left: 90%;
    width: auto;
    padding-left: auto;
    margin-left: auto;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.carousel-inner.vertical {
    height: 100%;
}
.carousel-inner.vertical > .item {
    -webkit-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
}
@media all and (transform-3d),
    (-webkit-transform-3d) {
        .carousel-inner.vertical > .item {
            -webkit-transition: -webkit-transform .6s ease-in-out;
            -o-transition: -o-transform .6s ease-in-out;
            transition: transform .6s ease-in-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            perspective: 1000;
        }
        .carousel-inner.vertical > .item.next,
        .carousel-inner.vertical > .item.active.right {
            top: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        .carousel-inner.vertical > .item.prev,
        .carousel-inner.vertical > .item.active.left {
            top: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        .carousel-inner.vertical > .item.next.left,
        .carousel-inner.vertical > .item.prev.right,
        .carousel-inner.vertical > .item.active {
            top: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
}
.carousel-inner.vertical > .active {
    top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
    top: 0;
    height: 100%;
    width: auto;
}
.carousel-inner.vertical > .next {
    left: 0;
    top: 100%;
}
.carousel-inner.vertical > .prev {
    left: 0;
    top: -100%
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
    top: 0;
}
.carousel-inner.vertical > .active.left {
    left: 0;
    top: -100%;
}
.carousel-inner.vertical > .active.right {
    left: 0;
    top: 100%;
}

#landingTextDiv{
    margin-top: 140px;
    margin-bottom: 150px;
}

@media only screen and (max-width: 768px) {
    .carousel-caption{
        top: 10px !important;
    }
    
    .slider-title{
        font-size: 20px;
    }
}

.video-margin{
    margin-bottom: 25px;
    
}

#search-gylph{
    color: #DCDCDC;
    margin-top: -2px;
}

.yt-btn:before{
    color: #b3b3b3 !important;
}

.yt-btn{
    background: #fff;
    opacity: 0.8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}





/*--------------------
#UTILS
/*--------------------*/

label{
    font-family: RobotoThin;
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 60px;
}

select{
    border: none;
    background: none;
}

.center-div{
    margin:  0 auto;
}

.justified{
    text-align: justify;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoThinItalic;
    font-size: 14px;
    color: #DCDCDC;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoThinItalic;
    font-size: 14px;
    color: #DCDCDC;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoThinItalic;
    font-size: 14px;
    color: #DCDCDC;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoThinItalic;
    font-size: 14px;
    color: #DCDCDC;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}

.left-addon input  { padding-left:  30px; }

input{
    font-family: RobotoThin;
}

.form-control {
    border-radius: 20px;
    width:25vw;
    height: 30px;
    border: 1px solid #DCDCDC;
    margin-bottom: 60px;
}
