<div class="fluid-container" id="footerContainer">
    <div class="row" id="footerBG">
        <div class="col-xs-12">
            <div id="footerContact">
                <p class="footer-title text-center">Contact Us</p>
                <p class="footer-email text-center">contact@ideaware.co</p>
            </div>
        </div>
        <div class="col-xs-12" id="socialDiv">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 ">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class=" icons-position" id="facebook">
                                    <div id="facebookBubble">
                                    </div>
                                    <a href="https://www.google.com" target="_blank">
                                        <div id="facebookIcon"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class=" icons-position" id="twitter">
                                    <div id="twitterBubble">
                                    </div>
                                    <a href="https://www.twitter.com" target="_blank">
                                        <div id="twitterIcon"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class=" icons-position" id="youtube">
                                    <div id="youtubeBubble">
                                    </div>
                                    <a href="https://www.youtube.com" target="_blank">
                                        <div id="youtubeIcon"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>