<div class="fluid-container">
    <nav class="navbar" role="navigation">
        <div class="fluid-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="landing"><img class="img-responsive" src="images/Logo.png"></a>
            </div>

            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a role="button">
                            <span class="navbar-item">Work</span>
                        </a>
                    </li>
                    <li ui-sref-active-eq="active">
                        <a role="button">
                            <span class="navbar-item">About Us</span>
                        </a>
                    </li>
                    <li ui-sref-active-eq="active">
                        <a role="button">
                            <span class="navbar-item">Contact</span>
                        </a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>