<div class="fluid-container" ng-init="searchVideos()">
    <div class="row">
        <div class="col-xs-12">
            <div id="slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slider" data-slide-to="0" class="active"></li>
                    <li data-target="#slider" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner vertical" role="listbox">
                    <div class="item active">
                        <img src="images/Slider1.png" alt="Slider1">
                        <div class="carousel-caption">
                            <p class="slider-title"><span class="roboto-bold">Sed do eiusmod</span> tempor incididunt</p>
                            <p class="slider-text">Sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/Slider2.png" alt="Slider2">
                        <div class="carousel-caption">
                            <p class="slider-title"><span class="roboto-bold">Et dolore magna</span> aliqua ut <span class="blue-title-text">enim</span> ad</p>
                            <p class="slider-text">Nisi ut aliquip ex commodo consequat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1" id="landingTextDiv">
            <p class="landing-title">Lorem Ipsum dolor</p>
            <p class="landing-text justified">ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <form class="form-inline" ng-submit="searchVideos()">
                <div class="form-group">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search" id="search-gylph"></i>
                    <input name="query" ng-model="query" class="form-control" type="text" placeholder="Search">
                </div>
                </div>
                <div class="form-group pull-right">
                    <label>Filter By</label>
                    <select class="form-controler" id="lCategory" name="lCategory" ng-model="video.category"  ng-change="changeCategory()">
                    <option ng-value="category.id" ng-repeat="category in categories" required>{{category.title}}<option>
                </select>
        </div>
            </form>

            
        </div>
        <div class="col-xs-12 col-md-10 col-md-push-1">
            <div class="row">
                <div infinite-scroll='loadTen()' infinite-scroll-distance = '-1'>
                    <div class="col-xs-6 col-sm-4 video-margin" ng-repeat="video in lazyVideos track by $index">
                        <div ob-lazytube="{{video}}" allowfullscreen></div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>